body{
    margin: 0 auto;
    width: auto;
    text-align: center;
    background-color: greenyellow;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: limegreen;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: green;
}
#header {
        text-align: center;
        padding: 20px;
        background-color: greenyellow;
        color: darkgreen;
        }
#content {
        display: flex;
        padding: 20px;
        background-color: greenyellow;
        }
#left-column {
            flex: 1;
            text-align: center;
        }

#left-column img {
            width: 400px;
            height: 400px;
        }
#right-column {
            flex: 1;
            padding: 20px;
            align-items: center;
            color: darkgreen;
        }
.button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}
form{
    background-color: greenyellow;
    width: auto;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    color: darkgreen;
}
h3{
    text-align: center;
    color: green;
}
h4 {
    text-align: center;
    color: green;
}
form label{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px
}
form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}